<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>SGAR</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

  {{> navbar}}

  {{> sidebar}}

  <div class="content-wrapper">
    {{{body}}}
  </div>

</div>

</body>
</html>
